/* .container {
  background-image: url(./img/model.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
} */
.itemImg {
  opacity: 80%;
  position: absolute;
  top: 25%;
  left: 32rem;
  width: 270px;
}
.item {
  position: relative;
}
.title {
  background-color: rgba(205, 134, 63, 0.5);
  position: absolute;
  width: 480px;
  left: 25.5rem;
  bottom: 0;
  padding: 2.5rem 1rem;
}
